$colors: (
  'prymary-text': #212121,
  'secondary-text': #757575,
  'black-full': #000000,
  'white-prymary-full': #ffffff,
  'white-title': rgba(255, 255, 255, 0.6),
  'grey-bkg-bright': #f5f4fa,
  'grey-bkg-dark': #2f303a,
  'grey-border': #ececec,
  'accent-color': #2196f3,
  'accent-plus': #2288d9,
  'none': rgba(0, 0, 0, 0),
  'black-opacity': rgba(0, 0, 0, 0.15),
);
